<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3 class="title">All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="listing-container">
    <% for (let listing of allListings) { %>
        <a href="/listings/<%=listing._id %>">
        <div class="property-card">
            <div class="card-image">
                <img src="<%= listing.image.url %>" alt="Flat in Pune">
                <span class="badge">Popular</span>
                <button class="wishlist-btn"><i class="fa-regular fa-heart"></i></button>
            </div>
            <div class="card-info">
                <h3><a href="/listings/<%= listing._id %>"><%= listing.title %></a></h3>
                <!-- <p><%= listing.description %></p> -->
                <p>&#8377; <%= listing.price.toLocaleString("en-IN") %> for a night</p>
                <p><%= listing.location %></p>
                <!-- <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <span>5</span>
                </div> -->
            </div>
        </div>
        </a>
<% } %>
</div>
</body>